USE [TechDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12.4.2019 08:53:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Addres] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[UserRole] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Carts] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Addres] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Marka] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorums]    Script Date: 12.4.2019 08:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorums](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[Product_ProductId] [int] NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Yorums] PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'686ddfda-48a6-41b2-a2d4-4cd48a4d9d39', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'32091162-0506-4639-a18f-8292d07c9d9c', N'Producer')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5a990a82-66ee-46f3-95c8-3bc48d89be85', N'32091162-0506-4639-a18f-8292d07c9d9c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'629e738b-984a-42ba-91d7-05b262a933e3', N'32091162-0506-4639-a18f-8292d07c9d9c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aaacec50-bf59-41d5-85b5-ff5de479db10', N'32091162-0506-4639-a18f-8292d07c9d9c')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Addres], [Phone], [UserRole], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1e8134f5-dca1-4c3c-8c9a-8a758e6f1343', N'Aslan', N'kjgh', NULL, N'Customer', N'aslan@outlook.com', 0, N'AIsu08v4a+SDEb+y6EQj8Oenze/UoGyjrzW81hMtEaZvC5jfndxvOkaXwx8VCEc6RA==', N'1b69acee-6f50-492e-83e8-f0d34dc46d71', N'5874569621', 0, 0, NULL, 1, 0, N'aslan@outlook.com')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Addres], [Phone], [UserRole], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5a990a82-66ee-46f3-95c8-3bc48d89be85', N'Mehmet', N'Ömerli Mah.', NULL, N'Producer', N'dd@hotmail.com', 0, N'ANWvxqSe8j3QnXmvRLWU9VWw4eAy/dEE4/NXBRqx4PbjR/hpmcAA/83HbPHqUBO5pQ==', N'73d8844e-a06a-4b07-83f9-b6e48e7bfdbb', N'4856874513', 0, 0, NULL, 1, 0, N'dd@hotmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Addres], [Phone], [UserRole], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'629e738b-984a-42ba-91d7-05b262a933e3', N'Kaan', N'Ömerli Mah.', NULL, N'Producer', N'kaan@outlook.com', 0, N'ALLfunPVvC57xdnWRz271qarUCEzS2xU6hKB5sR8Z4YObZgWN8ebxVeFj7inRhk4Sg==', N'3ddacf42-b765-4924-a69a-e87f9097a952', N'5689752589', 0, 0, NULL, 1, 0, N'kaan@outlook.com')
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([RecordId], [CartId], [ProductId], [Count], [DateCreated]) VALUES (1012, N'aslan@outlook.com', 1, 1, CAST(N'2019-03-27T10:59:05.213' AS DateTime))
INSERT [dbo].[Carts] ([RecordId], [CartId], [ProductId], [Count], [DateCreated]) VALUES (2007, N'afbd14a4-501a-4df6-8a5b-d87c513cdd9c', 1, 1, CAST(N'2019-04-08T13:53:10.147' AS DateTime))
INSERT [dbo].[Carts] ([RecordId], [CartId], [ProductId], [Count], [DateCreated]) VALUES (2009, N'348ae0b8-3476-47a6-911a-f8d70a814cd3', 1, 2, CAST(N'2019-04-08T13:59:29.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [OrderId], [Quantity], [UnitPrice]) VALUES (1, 2, 1, 1, CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [OrderId], [Quantity], [UnitPrice]) VALUES (2, 2, 2, 1, CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailsId], [ProductId], [OrderId], [Quantity], [UnitPrice]) VALUES (3, 1, 3, 1, CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [UserName], [FirstName], [LastName], [Addres], [Phone], [Email], [Total]) VALUES (1, CAST(N'2019-03-18T13:35:27.197' AS DateTime), N'aslan@outlook.com', N'Mustafa', N'Aslan', N'Ömerli Mah.', N'5349875241', N'must@outlook.com', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [UserName], [FirstName], [LastName], [Addres], [Phone], [Email], [Total]) VALUES (2, CAST(N'2019-03-19T09:10:48.143' AS DateTime), N'aslan@outlook.com', N'Mustafa', N'Aslan', N'Ömerli Mah.', N'5349875241', N'must@outlook.com', CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [UserName], [FirstName], [LastName], [Addres], [Phone], [Email], [Total]) VALUES (3, CAST(N'2019-03-19T09:13:00.490' AS DateTime), N'aslan@outlook.com', N'Mustafa', N'Aslan', N'Ömerli Mah.', N'5349875241', N'must@outlook.com', CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Category], [Marka], [Model], [Photo], [Description], [Price], [ApplicationUserId]) VALUES (1, N'Laptop', N'Dell', N'Inspiron 7577', N'../Uploads/Photo/7f2f1281-e784-407d-ab8e-83f7452e877f.jpg', N'8 gb Ram', CAST(5000.00 AS Decimal(18, 2)), N'd32714b7-3ddd-4c98-91cf-3997042a57b6')
INSERT [dbo].[Products] ([ProductId], [Category], [Marka], [Model], [Photo], [Description], [Price], [ApplicationUserId]) VALUES (2, N'Telefon', N'Apple', N'iPhone 6S', N'../Uploads/Photo/049dddd3-1993-41d7-9267-8f455c830192.jpg', N'2 gb Ram', CAST(3000.00 AS Decimal(18, 2)), N'd32714b7-3ddd-4c98-91cf-3997042a57b6')
INSERT [dbo].[Products] ([ProductId], [Category], [Marka], [Model], [Photo], [Description], [Price], [ApplicationUserId]) VALUES (3, N'Aksesuar', N'Sennheiser', N'C100', N'../Uploads/Photo/bb602517-2cb5-4eae-be3f-c3bc377a1255.jpg', N'12-24k Hz', CAST(1000.00 AS Decimal(18, 2)), N'd32714b7-3ddd-4c98-91cf-3997042a57b6')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Yorums] ON 

INSERT [dbo].[Yorums] ([YorumId], [Product_ProductId], [ApplicationUser_Id], [Aciklama]) VALUES (1, 1, N'1e8134f5-dca1-4c3c-8c9a-8a758e6f1343', N'Güzel bilgisayar')
INSERT [dbo].[Yorums] ([YorumId], [Product_ProductId], [ApplicationUser_Id], [Aciklama]) VALUES (14, 2, N'1e8134f5-dca1-4c3c-8c9a-8a758e6f1343', N'Baya iyi telefon')
INSERT [dbo].[Yorums] ([YorumId], [Product_ProductId], [ApplicationUser_Id], [Aciklama]) VALUES (17, 1, N'1e8134f5-dca1-4c3c-8c9a-8a758e6f1343', N'iyi')
SET IDENTITY_INSERT [dbo].[Yorums] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[Yorums]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorums_dbo.AspNetUsers_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Yorums] CHECK CONSTRAINT [FK_dbo.Yorums_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Yorums]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorums_dbo.Products_Product_ProductId] FOREIGN KEY([Product_ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Yorums] CHECK CONSTRAINT [FK_dbo.Yorums_dbo.Products_Product_ProductId]
GO
